{% extends 'base.html.twig' %}

{% block body %}

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="hero-content text-center">
                <h1 class="hero-title mb-md">
                    Bienvenue sur <span class="highlight">WorkTogether</span>
                </h1>
                <p class="hero-description mb-xl">
                    WorkTogether Data Solutions est une entreprise spécialisée dans la gestion de datacenters de
                    pointe. Forte de son expertise en matière de sécurité, de fiabilité et de durabilité, WorkTogether
                    offre une gamme complète de services de gestion de datacenters aux entreprises du monde
                    entier.
                </p>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features">
        <div class="container">
            <div class="section-header text-center mb-xl">
                <h2 class="section-title mb-sm">Découvrir nos offres</h2>
            </div>

        </div>
    </section>

{% endblock %}
