<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WorkTogether{% endblock %}</title>
    <link rel="icon" href="assets/images/logo" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>

    {% include 'layout/_header.html.twig' %}

    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block body %}{% endblock %}

    {{ render(controller('App\\Controller\\FooterController::footer')) }}

</body>
</html>
