{% extends 'base.html.twig' %}

{% block body %}
    <section class="section bg-gray">
        <div class="container max-w-lg mx-auto">
            <div class="card card-elevated">
                <div class="card-header">
                    <h2 class="card-title">Mes unités</h2>
                </div>
                <div class="card-body">
                    <p>A venir</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
